/* @import url{' fonts for use'} //  */
/* @import url('../fonts/scriptina.regular.ttf'); */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
}

body {
	overflow-x: hidden;
	background-color: #fcf5b8;
}

@font-face {
	font-family: 'scriptina';
	src: local('scriptina'),
		url('../fonts/scriptina.regular.ttf') format('truetype');
	font-weight: normal;
}
