/* @import url{' fonts for use'} //  */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'FONT', sans-serif; */
}

body {
	overflow-x: hidden;
}

ul {
	list-style-type: none;
}

li {
	margin-top: 10px;
}
